

.Time {
    width: 283px;
    margin: auto;
}

.Date {
    color: #FFFFFF;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    margin-bottom: 85px;
}

.hours {
    width: 283px;
    font-size: 96px;
    color: #FFFFFF;
}
