.GoesNow {
    background-color: #3D8D44;
    border: 1px solid #2C7C33;
    border-radius: 15px;
    width: 451px;
    height: 107px;
    position: absolute;
    top: 280px;
    left: 734px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GoesNow span {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 38px;
    text-align: left;
    font-weight: bold;

}

.timeIcon {
    width: 66px;
    height: 62px;
    overflow: hidden;
    transform: rotateZ(180deg);
    margin-left: 24px;
}

.timeIcon img {
    width: auto;
    height: 100%;
}